:root {
  --blue: #1e90ff;
  --green: #2ed15a;
}

.launch-circle {
  width: 60%;
  margin-top: 50px;
}

.short-status {
  margin-top: 60px;
}

.status-title {
  font-weight: bold;
  font-size: 125%;
  margin: 0px;
}

.status-detail {
  opacity: 0.9;
}

.footprint {
  margin-top: 100px;
}

.footprint-title {
  font-size: 25px;
  display: block;
  width: 100%;
}

.footprint a,
a.simple {
  color: #949494;
  padding-bottom: 5px;
  border-bottom: 1px solid #949494;
}

a.simple:hover {
  color: white;
  border-bottom-color: var(--green);
}

.battery {
  margin-top: 50px;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

* {
  transition: all 0.4s;
}

body {
  opacity: 0;
  transition: opacity 0.2s;
}

.battery-manage {
  margin-top: 100px;
}

i {
  margin-right: 10px;
  font-weight: lighter !important;
}

.app {
  max-width: 80%;
}

.list-group-item:hover {
  background-color: rgb(30, 30, 30);
}

.list-group h6 {
  font-size: 120%;
}

.app-logo {
  max-width: 60%;
}

.graph img {
  width: 100%;
}

.card {
  background-color: transparent;
}

h6 {
  font-size: 120%;
}
